{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - display_as_slide {Boolean}
  - alternative_view {Boolean}
  Usage:
  {% render 'card-product' %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  {% assign review_ratings_string = '' %}

  {% for review in card_product.metafields.custom.reviews.value %}
    {% if forloop.first %}
      {% assign review_ratings_string = review.rating %}
    {% else %}
      {% assign review_ratings_string = review_ratings_string | append: ',' | append: review.rating %}
    {% endif %}
  {% endfor %}

  {% assign review_ratings = review_ratings_string | split: ',' %}
  {% assign total_reviews = review_ratings.size %}
  {% assign total_rating_sum = 0 %}

  {% for rating in review_ratings %}
    {% assign rating_value = rating | plus: 0 %}
    {% assign total_rating_sum = total_rating_sum | plus: rating_value %}
  {% endfor %}

  {% assign average_rating = total_rating_sum | divided_by: total_reviews %}

  {%- if display_as_slide == true -%}
    <li class="product__item swiper-slide">
  {%- else -%}
    <div class="product__item">
  {%- endif -%}

  <div class="product__goods">
    {%- if card_product.compare_at_price > card_product.price -%}
      <span class="onsale">
        {% assign price_difference = card_product.compare_at_price | minus: card_product.price %}
        {% assign percent_off = price_difference | times: 100 | divided_by: card_product.compare_at_price | round %}
        -{{ percent_off }}%
      </span>
    {%- endif -%}

    {% if card_product.metafields.custom.show_best_seller_badge_ %}
      <span class="hit">Hit</span>
    {% endif %}
  </div>

  <a class="product__link" href="{{ card_product.url }}">
    {{ card_product.featured_image | image_url: height: card_product.featured_image.height | image_tag }}
  </a>

  {% if alternative_view == true %}
    <div class="rating">
      <div class="rating__star">
        {% for i in (1..average_rating) %}
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M13.635 15.75L12.4088 10.4782L16.5 6.933L11.1068 6.47025L9 1.5L6.89325 6.47025L1.5 6.933L5.59125 10.4782L4.365 15.75L9 12.954L13.635 15.75Z" fill="#146F60" />
          </svg>
        {% endfor %}
      </div>
      <a href="{{ card_product.url }}" class="link">{{ total_reviews }} reviews</a>
    </div>
  {% endif %}

  <a href="{{ card_product.url }}">
    <h5>{{ card_product.title }}</h5>
  </a>

  {% if alternative_view == false %}
    <div class="rating">
      <div class="rating__star">
        {% for i in (1..average_rating) %}
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M13.635 15.75L12.4088 10.4782L16.5 6.933L11.1068 6.47025L9 1.5L6.89325 6.47025L1.5 6.933L5.59125 10.4782L4.365 15.75L9 12.954L13.635 15.75Z" fill="#146F60" />
          </svg>
        {% endfor %}
      </div>
      <a href="{{ card_product.url }}" class="link">{{ total_reviews }} reviews</a>
    </div>
  {% endif %}

  <div class="product__price">
    <span class="price">{{ card_product.price | money_without_trailing_zeros }}</span>
    {%- if card_product.compare_at_price > card_product.price -%}
      <span class="price-old">
        <s>{{ card_product.compare_at_price | money_without_trailing_zeros }}</s>
      </span>
    {%- endif -%}
  </div>

  <a href="{{ card_product.url }}" class="button">Shop now</a>

  {%- if display_as_slide == true -%}
    </li>
  {%- else -%}
    </div>
  {%- endif -%}
{%- endif -%}
