{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif

  if section.settings.product != blank
    assign is_product_loaded = true
  endif
-%}

<section class="hero">
  <div class="container">
    <div class="wrapper">
      <div class="col">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              {{ block.settings.title }}

            {% when 'description' %}
              <p class="hero__text">{{ block.settings.description }}</p>

            {% when 'rating' %}
              {% if is_product_loaded %}
                {% assign review_ratings_string = "" %}
                
                {% for review in product.metafields.custom.reviews.value %}
                  {% if forloop.first %}
                    {% assign review_ratings_string = review.rating %}
                  {% else %}
                    {% assign review_ratings_string = review_ratings_string | append: "," | append: review.rating %}
                  {% endif %}
                {% endfor %}

                {{ review_ratings_string }}
                
                {% assign review_ratings = review_ratings_string | split: "," %}

                {% assign total_reviews = review_ratings.size %}
                {% assign total_rating_sum = 0 %}

                {% for rating in review_ratings %}
                  {% assign total_rating_sum = total_rating_sum | plus: rating | plus: 0 %}
                {% endfor %}

                {% assign average_rating = total_rating_sum | times: 1.0 | divided_by: total_reviews %}

                {%- render 'rating', stars_number: average_rating, reviews_number: total_reviews -%}
              {% else %}
                {%- render 'rating',
                  stars_number: block.settings.stars_number,
                  reviews_number: block.settings.reviews_number
                -%}
              {% endif %}

            {% when 'button' %}
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" class="button">{{ block.settings.text }}</a>
              {% elsif is_product_loaded %}
                <a href="{{ section.settings.product.url }}" class="button">{{ block.settings.text }}</a>
              {% endif %}

            {% else %}
              <a href="{{ block.settings.link }}" class="button">{{ block.settings.text }}</a>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="col">
        {% if section.settings.image != blank %}
          {{ section.settings.image | image_url: width: section.settings.image.width | image_tag: fetchpriority: fetch_priority }}
        {% elsif is_product_loaded %}
          {{ section.settings.product.featured_image | image_url:  width: section.settings.product.featured_image.width | image_tag: fetchpriority: fetch_priority }}
        {% else %}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.hero.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.hero.settings.image.label"
    },
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.hero.settings.product.label"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "t:sections.hero.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "t:sections.hero.blocks.title.settings.label",
          "default": "t:sections.hero.blocks.title.settings.default"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.hero.blocks.description.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.hero.blocks.description.settings.label",
          "default": "t:sections.hero.blocks.description.settings.default"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.hero.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "stars_number",
          "min": 0,
          "max": 5,
          "step": 0.1,
          "default": 4.8,
          "label": "t:sections.hero.blocks.rating.settings.stars_number.label",
          "info": "Does not work if product is selected in the section settings"
        },
        {
          "type": "text",
          "id": "reviews_number",
          "label": "t:sections.hero.blocks.rating.settings.reviews_number.label",
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.hero.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.hero.blocks.button.settings.link.label"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.hero.blocks.button.settings.text.label",
          "default": "t:sections.hero.blocks.button.settings.text.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero.presets.name",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "description"
        },
        {
          "type": "rating"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
