<section class="about {% if section.settings.drop_shadow %} drop_shadow {% endif %} {% if section.settings.horizontal %} horizontal {% endif %}">
  <div class="container">
    <div class="about__card">
      {% for block in section.blocks %}
        {% if block.type == 'image' %}

          <script>console.log({{ block.settings.image.width | json }})</script>
          <script>console.log({{ block.settings.image.height | json }})</script>

          <div class="col">
            {%- if block.settings.image != blank -%}
              {{ block.settings.image | image_url: height: 661 | image_tag }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        {% elsif block.type == 'text' %}
          <div class="col">
            {{ block.settings.text }}

            {%- if block.settings.image != blank -%}
              {{ block.settings.image | image_url: height: 75 | image_tag: class: 'signature' }}
            {%- endif -%}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "drop_shadow",
      "label": "t:sections.image-with-text.settings.drop_shadow.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "horizontal",
      "label": "t:sections.image-with-text.settings.horizontal.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.image-with-text.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text.blocks.image.settings.image.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text.blocks.text.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
