<script>console.log({{ product.metafields.custom.reviews.value | json }})</script>

<product-info
  id="MainProduct-{{ section.id }}"
  class="section-{{ section.id }}-padding"
  data-section="{{ section.id }}"
  data-product-id="{{ product.id }}"
  data-update-url="true"
  data-url="{{ product.url }}"
  {% if section.settings.image_zoom == 'hover' %}
    data-zoom-on-hover
  {% endif %}
>
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'component-accordion.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  {{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

  {% unless product.has_only_default_variant %}
    {{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch-input.css' | asset_url | stylesheet_tag }}
    {{ 'component-swatch.css' | asset_url | stylesheet_tag }}
  {% endunless %}
  {%- if product.quantity_price_breaks_configured? -%}
    {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}
  {%- endif -%}

  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}

  <script src="{{ 'product-info.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- if product.quantity_price_breaks_configured? -%}
    <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {% if section.settings.image_zoom == 'hover' %}
    <script id="EnableZoomOnHover-main" src="{{ 'magnify.js' | asset_url }}" defer="defer"></script>
  {% endif %}
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}
  {%- if first_3d_model -%}
    {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
    <link
      id="ModelViewerStyle"
      rel="stylesheet"
      href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css"
      media="print"
      onload="this.media='all'"
    >
    <link
      id="ModelViewerOverride"
      rel="stylesheet"
      href="{{ 'component-model-viewer-ui.css' | asset_url }}"
      media="print"
      onload="this.media='all'"
    >
  {%- endif -%}

  {% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

  <section class="single">
    <div class="container">
      <div class="wrapper">
        <div class="col">
          <div class="swiper swipper-gallery">
            <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide">
                  {{ image | image_url: width: image.width | image_tag }}
                </div>
              {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div thumbsSlider="" class="swiper swiper-thumb">
            <div class="swiper-wrapper">
              {% for image in product.images %}
                <div class="swiper-slide">
                  {{ image | image_url: width: image.width | image_tag }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          {%- assign product_form_id = 'product-form-' | append: section.id -%}
          <input type="hidden" id="current-color-hidden">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'price' -%}
                <div id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
                  {%- render 'price',
                    product: product,
                    use_variant: true,
                    show_badges: true,
                    price_class: 'price--large'
                  -%}
                </div>
              {%- when 'title' -%}
                <h1>{{ product.title | escape }}</h1>
              {%- when 'description' -%}
                {{ product.description }}
              {%- when 'variant_picker' -%}
                {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}

              {%- when 'rating' -%}
                {% assign review_ratings = product.metafields.custom.review_rating.value %}
                {% assign total_reviews = review_ratings.size %}

                {%- render 'rating', stars_number: block.settings.stars_number, reviews_number: total_reviews -%}
              {%- when 'personalization' -%}
                <div class="personalization-selector">
                  <div class="top">
                    <button class="title" id="personalizationButton">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_37_331)">
                            <path d="M6 0.54541V11.4545" stroke="#464545" stroke-linecap="square"
                                stroke-linejoin="round" />
                            <path d="M0.545898 6H11.455" stroke="#464545" stroke-linecap="square"
                                stroke-linejoin="round" />
                        </g>
                        <defs>
                            <clipPath id="clip0_37_331">
                                <rect width="12" height="12" fill="white" />
                            </clipPath>
                        </defs>
                      </svg>
                      {{ block.settings.title }}
                    </button>
                    <button class="icon" id="personalizationClose">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path d="M9.85742 2.14355L2.14353 9.85745" stroke="#464545"
                            stroke-linecap="square" stroke-linejoin="round" />
                        <path d="M2.14258 2.14355L9.85647 9.85745" stroke="#464545"
                            stroke-linecap="square" stroke-linejoin="round" />
                      </svg>
                    </button>
                  </div>
                  <div class="personalization-style">
                    <p class="title">Style:</p>

                    <div class="slider">
                      <div class="swiper" id="personalization">
                        <div class="swiper-wrapper">
                          {% for i in (1..5) %}
                            {%- assign style_key = 'style_' | append: i -%}
                            {%- if block.settings[style_key] != blank -%}
                              <div class="swiper-slide">
                                <label class="personalization-option" for="style_{{ i }}">
                                  <input
                                    name="properties[style]"
                                    type="radio"
                                    name="image"
                                    id="style_{{ i }}"
                                    value="style_{{ i }}"
                                    form="{{ product_form_id }}"

                                    {% if forloop.first %}
                                      checked
                                    {% endif %}
                                  >
                                  {{ block.settings[style_key] | image_url: height: 165 | image_tag }}
                                </label>
                              </div>
                            {%- endif -%}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="swiper-buttons">
                        <div class="swiper-button-next personalization-button-next"></div>
                        <div class="swiper-button-prev personalization-button-prev"></div>
                      </div>
                    </div>

                    <label class="title" for="properties[name]">Name (or names):</label>
                    <p class="instructions">
                      You can enter a name, multiple names, or quotes. <br>
                      Minimum 3 characters, maximum 300 characters.
                    </p>

                    <input
                      type="text"
                      placeholder="Enter text"
                      minlength="3"
                      id="name"
                      maxlength="300"
                      required
                      class="required"
                      name="properties[Name]"
                      form="{{ product_form_id }}"
                    >
                  </div>
                </div>

              {%- when 'buy_buttons' -%}
                {%- render 'buy-buttons',
                  block: block,
                  product: product,
                  product_form_id: product_form_id,
                  section_id: section.id,
                  show_pickup_availability: true
                -%}
            {%- endcase -%}
          {%- endfor -%}

          <ul class="desc__list">
            {%- for block in section.blocks -%}
              {% if block.type == 'info-block' %}
                <li>
                  {%- if block.settings.icon != blank -%}
                    {{ block.settings.icon | image_url: height: 18 | image_tag }}
                  {%- else -%}
                  {%- endif -%}
                  {{ block.settings.text }}
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        </div>
      </div>
    </div>
  </section>
</product-info>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "id": "swatch_shape",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.label",
          "type": "select",
          "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.info",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
            },
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
            }
          ],
          "default": "circle"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "rating",
      "name": "Rating",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "stars_number",
          "label": "Rating",
          "min": 0,
          "max": 5,
          "step": 0.1,
          "default": 4.8
        },
        {
          "type": "text",
          "id": "text",
          "label": "Gray text",
          "default": "1,320 trusted reviews"
        }
      ]
    },
    {
      "type": "info-block",
      "name": "t:sections.main-product.blocks.info-block.name",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.main-product.blocks.info-block.settings.icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.main-product.blocks.info-block.settings.text.label",
          "default": "t:sections.main-product.blocks.info-block.settings.text.default"
        }
      ]
    },
    {
      "type": "personalization",
      "name": "t:sections.main-product.blocks.personalization.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "t:sections.main-product.blocks.personalization.settings.title.label",
          "default": "t:sections.main-product.blocks.personalization.settings.title.default"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.personalization.settings.style.header"
        },
        {
          "type": "image_picker",
          "id": "style_1",
          "label": "t:sections.main-product.blocks.personalization.settings.style.style_1"
        },
        {
          "type": "image_picker",
          "id": "style_2",
          "label": "t:sections.main-product.blocks.personalization.settings.style.style_2"
        },
        {
          "type": "image_picker",
          "id": "style_3",
          "label": "t:sections.main-product.blocks.personalization.settings.style.style_3"
        },
        {
          "type": "image_picker",
          "id": "style_4",
          "label": "t:sections.main-product.blocks.personalization.settings.style.style_4"
        },
        {
          "type": "image_picker",
          "id": "style_5",
          "label": "t:sections.main-product.blocks.personalization.settings.style.style_5"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.personalization.settings.name.header"
        },
        {
          "type": "richtext",
          "id": "name_description",
          "label": "t:sections.main-product.blocks.personalization.settings.name.description.label",
          "default": "t:sections.main-product.blocks.personalization.settings.name.description.default"
        }
      ]
    }
  ],
  "settings": []
}
{% endschema %}
