<section
  {% if section.settings.bg != blank %}
    style="background: url('{{ section.settings.bg | image_url }}') center/cover no-repeat;"
  {% endif %}
  class="multirow"
>
  <div class="container">
    <ul class="maps__list">
      {% for block in section.blocks %}
        <li>
          <div class="col">
            {%- if block.settings.image != blank -%}
              {%- if block.settings.mobile_image != blank -%}
                <picture>
                  <source 
                    media="(max-width: 767px)" 
                    srcset="{{ block.settings.mobile_image | image_url: height: block.settings.mobile_image.height }}"
                  >
                  <img 
                    src="{{ block.settings.image | image_url: height: block.settings.image.height }}" 
                    alt="{{ block.settings.image.alt | escape }}"
                    height="{{ block.settings.image.height }}"
                    width="{{ block.settings.image.width }}"
                  >
                </picture>
              {%- else -%}
                {{ block.settings.image | image_url: height: block.settings.image.height | image_tag }}
              {%- endif -%}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
          <div class="col">
            {{ block.settings.text }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.multirow.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background image"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "t:sections.multirow.blocks.block.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multirow.blocks.block.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image (optional)",
          "info": "Image shown on screens smaller than 767px. If not set, desktop image will be used."
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.multirow.blocks.block.settings.text.label",
          "default": "t:sections.multirow.blocks.block.settings.text.default"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multirow.presets.name",
      "blocks": [
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}