{% assign review_ratings_string = '' %}

{% for product in collections.all.products %}
  {% for review in product.metafields.custom.reviews.value %}
    {% if review_ratings_string == '' %}
      {% assign review_ratings_string = review.rating %}
    {% else %}
      {% assign review_ratings_string = review_ratings_string | append: ',' | append: review.rating %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign review_ratings = review_ratings_string | split: ',' %}

<div class="container">
  <div class="reviews">
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title }}</h2>
    {% endif %}

    <div class="reviews__wrap">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'rating' %}
            <div class="reviews__stats">
              {% assign total_reviews = review_ratings.size %}

              {% assign total_rating_sum = 0 %}
              {% assign excellent_count = 0 %}
              {% assign great_count = 0 %}
              {% assign good_count = 0 %}
              {% assign average_count = 0 %}
              {% assign bad_count = 0 %}

              {% for rating in review_ratings %}
                {% assign rating_value = rating | plus: 0 %}
                {% assign total_rating_sum = total_rating_sum | plus: rating_value %}

                {% if rating_value >= 4.5 %}
                  {% assign excellent_count = excellent_count | plus: 1 %}
                {% elsif rating_value >= 3.5 %}
                  {% assign great_count = great_count | plus: 1 %}
                {% elsif rating_value >= 2.5 %}
                  {% assign good_count = good_count | plus: 1 %}
                {% elsif rating_value >= 1.5 %}
                  {% assign average_count = average_count | plus: 1 %}
                {% else %}
                  {% assign bad_count = bad_count | plus: 1 %}
                {% endif %}
              {% endfor %}

              {% assign average_rating = total_rating_sum | times: 1.0 | divided_by: total_reviews %}

              {% assign excellent_percent = excellent_count | times: 100 | divided_by: total_reviews %}
              {% assign great_percent = great_count | times: 100 | divided_by: total_reviews %}
              {% assign good_percent = good_count | times: 100 | divided_by: total_reviews %}
              {% assign average_percent = average_count | times: 100 | divided_by: total_reviews %}
              {% assign bad_percent = bad_count | times: 100 | divided_by: total_reviews %}

              {% assign total_percent = excellent_percent
                | plus: great_percent
                | plus: good_percent
                | plus: average_percent
                | plus: bad_percent
              %}
              {% assign correction = 100 | minus: total_percent %}

              {% assign excellent_percent = excellent_percent | plus: correction %}

              {% assign highest_count = 0 %}
              {% if excellent_count > highest_count %}
                {% assign highest_count = excellent_count %}
                {% assign rating_text = 'general.rating.excellent' | t %}
              {% endif %}

              {% if great_count > highest_count %}
                {% assign highest_count = great_count %}
                {% assign rating_text = 'general.rating.great' | t %}
              {% endif %}

              {% if good_count > highest_count %}
                {% assign highest_count = good_count %}
                {% assign rating_text = 'general.rating.good' | t %}
              {% endif %}

              {% if average_count > highest_count %}
                {% assign highest_count = average_count %}
                {% assign rating_text = 'general.rating.average' | t %}
              {% endif %}

              {% if bad_count > highest_count %}
                {% assign highest_count = bad_count %}
                {% assign rating_text = 'general.rating.bad' | t %}
              {% endif %}

              <h3>{{ rating_text }}</h3>
              <div class="reviews__summary">
                <div class="reviews__rating">
                  {% for i in (1..5) %}
                    <!--
                      <div class="mark">
                        <span class="filled"></span>
                      </div>
                    -->

                    <div class="reviews__summary-star">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.635 15.75L12.4088 10.4782L16.5 6.933L11.1068 6.47025L9 1.5L6.89325 6.47025L1.5 6.933L5.59125 10.4782L4.365 15.75L9 12.954L13.635 15.75Z" fill="#146F60"></path>
                      </svg>
                    </div>
                  {% endfor %}
                </div>
                <span class="count">{{ average_rating | round: 1 }}</span>
              </div>
              <span class="total">{{ 'general.rating.total_reviews' | t: count: total_reviews }}</span>
              <ul class="reviews__grade">
                <li>
                  <div>
                    <b>{{ 'general.rating.excellent' | t }}</b>
                  </div>
                  <span class="bar">
                    <span class="progress-star excellent" style="width: {{ excellent_percent }}%;">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.635 15.75L12.4088 10.4782L16.5 6.933L11.1068 6.47025L9 1.5L6.89325 6.47025L1.5 6.933L5.59125 10.4782L4.365 15.75L9 12.954L13.635 15.75Z" fill="#146F60"></path>
                      </svg>
                    </span>
                  </span>
                  <span class="percent">{{ excellent_percent | round: 0 }}%</span>
                </li>
                <li>
                  <div>
                    <b>{{ 'general.rating.great' | t }}</b>
                  </div>
                  <span class="bar">
                    <span class="progress-star excellent" style="width: {{ great_percent }}%;">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.635 15.75L12.4088 10.4782L16.5 6.933L11.1068 6.47025L9 1.5L6.89325 6.47025L1.5 6.933L5.59125 10.4782L4.365 15.75L9 12.954L13.635 15.75Z" fill="#146F60"></path>
                      </svg>
                    </span>
                  </span>
                  <span class="percent">{{ great_percent | round: 0 }}%</span>
                </li>
                <li>
                  <div>
                    <b>{{ 'general.rating.good' | t }}</b>
                  </div>
                  <span class="bar">
                    <span class="progress-star good" style="width: {{ good_percent }}%;">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.635 15.75L12.4088 10.4782L16.5 6.933L11.1068 6.47025L9 1.5L6.89325 6.47025L1.5 6.933L5.59125 10.4782L4.365 15.75L9 12.954L13.635 15.75Z" fill="#146F60"></path>
                      </svg>
                    </span>
                  </span>
                  <span class="percent">{{ good_percent | round: 0 }}%</span>
                </li>
                <li>
                  <div>
                    <b>{{ 'general.rating.average' | t }}</b>
                  </div>
                  <span class="bar">
                    <span class="progress-star good" style="width: {{ average_percent }}%;">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.635 15.75L12.4088 10.4782L16.5 6.933L11.1068 6.47025L9 1.5L6.89325 6.47025L1.5 6.933L5.59125 10.4782L4.365 15.75L9 12.954L13.635 15.75Z" fill="#146F60"></path>
                      </svg>
                    </span>
                  </span>
                  <span class="percent">{{ average_percent | round: 0 }}%</span>
                </li>
                <li>
                  <div>
                    <b>{{ 'general.rating.bad' | t }}</b>
                  </div>
                  <span class="bar">
                    <span class="progress-star bad" style="width: {{ bad_percent }}%;">
                      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.635 15.75L12.4088 10.4782L16.5 6.933L11.1068 6.47025L9 1.5L6.89325 6.47025L1.5 6.933L5.59125 10.4782L4.365 15.75L9 12.954L13.635 15.75Z" fill="#146F60"></path>
                      </svg>
                    </span>
                  </span>
                  <span class="percent">{{ bad_percent | round: 0 }}%</span>
                </li>
              </ul>
            </div>
          {% when 'reviews' %}
            <div class="reviews__content">
              <!-- Filter and sort -->
              <div class="filters">
                <div class="filters__button-wrapper">
                  <div class="filters__button">
                    <button class="button filters__button-value button--white">
                      Filter
                      <svg
                        width="9"
                        height="12"
                        viewBox="0 0 9 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                            d="M8.00776 7.18388C7.87867 7.18505 7.7537 7.22941 7.65276 7.30988L4.42276 9.80688L1.19676 7.30988C1.09581 7.22941 0.970841 7.18505 0.841757 7.18388C0.596757 7.18388 0.369757 7.35187 0.248757 7.62087C0.160611 7.82207 0.136521 8.04552 0.179757 8.26087C0.223757 8.48387 0.332757 8.67088 0.486757 8.79088L4.06976 11.5599C4.17576 11.6419 4.29976 11.6859 4.42376 11.6859C4.55284 11.6847 4.67781 11.6403 4.77876 11.5599L8.36276 8.78988C8.52509 8.65611 8.63374 8.46829 8.66876 8.26087C8.71186 8.04551 8.68778 7.8221 8.59976 7.62087C8.47976 7.35087 8.25176 7.18388 8.00776 7.18388ZM0.840757 4.54988C0.969497 4.54847 1.09408 4.50413 1.19476 4.42387L4.42476 1.92787L7.65276 4.42287C7.75976 4.50588 7.88276 4.54887 8.00776 4.54887C8.25176 4.54887 8.47876 4.38188 8.59976 4.11188C8.68824 3.91079 8.71268 3.68734 8.66976 3.47187C8.63448 3.26432 8.52546 3.07648 8.36276 2.94288L4.77976 0.172875C4.67878 0.0924792 4.55383 0.048131 4.42476 0.046875C4.29567 0.0480543 4.1707 0.092411 4.06976 0.172875L0.485757 2.94388C0.322774 3.07767 0.213724 3.26593 0.178757 3.47388C0.135757 3.69088 0.160757 3.91887 0.248757 4.11387C0.368757 4.38387 0.595757 4.54988 0.840757 4.54988Z"
                            fill="black" />
                      </svg>
                    </button>

                    <div class="filters__button-variants">
                      <div class="rating-picker">
                        <button data-reviews-rating="5" class="rating-picker__item green">
                          <span class="checkmark"></span>
                          <span class="rating-bar">
                            <span class="filled"></span><span class="filled"></span><span class="filled"></span
                            ><span class="filled"></span><span class="filled"></span>
                          </span>
                          <span class="rating-label">{{ 'general.rating.excellent' | t }}</span>
                        </button>
                        <button data-reviews-rating="4" class="rating-picker__item green">
                          <span class="checkmark"></span>
                          <span class="rating-bar">
                            <span class="filled"></span><span class="filled"></span><span class="filled"></span
                            ><span class="filled"></span><span class="empty"></span>
                          </span>
                          <span class="rating-label">{{ 'general.rating.great' | t }}</span>
                        </button>
                        <button data-reviews-rating="3" class="rating-picker__item green">
                          <span class="checkmark"></span>
                          <span class="rating-bar">
                            <span class="filled"></span><span class="filled"></span><span class="filled"></span
                            ><span class="empty"></span><span class="empty"></span>
                          </span>
                          <span class="rating-label">{{ 'general.rating.good' | t }}</span>
                        </button>
                        <button data-reviews-rating="2" class="rating-picker__item green">
                          <span class="checkmark"></span>
                          <span class="rating-bar">
                            <span class="filled"></span><span class="filled"></span><span class="empty"></span
                            ><span class="empty"></span><span class="empty"></span>
                          </span>
                          <span class="rating-label">{{ 'general.rating.average' | t }}</span>
                        </button>
                        <button data-reviews-rating="1" class="rating-picker__item green">
                          <span class="checkmark"></span>
                          <span class="rating-bar">
                            <span class="filled"></span><span class="empty"></span><span class="empty"></span
                            ><span class="empty"></span><span class="empty"></span>
                          </span>
                          <span class="rating-label">{{ 'general.rating.bad' | t }}</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filters__button-wrapper">
                  Sort by
                  <div class="filters__button">
                    <button class="button filters__button-value button--white">
                      Newest first
                      <svg
                        width="9"
                        height="12"
                        viewBox="0 0 9 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                            d="M8.00776 7.18388C7.87867 7.18505 7.7537 7.22941 7.65276 7.30988L4.42276 9.80688L1.19676 7.30988C1.09581 7.22941 0.970841 7.18505 0.841757 7.18388C0.596757 7.18388 0.369757 7.35187 0.248757 7.62087C0.160611 7.82207 0.136521 8.04552 0.179757 8.26087C0.223757 8.48387 0.332757 8.67088 0.486757 8.79088L4.06976 11.5599C4.17576 11.6419 4.29976 11.6859 4.42376 11.6859C4.55284 11.6847 4.67781 11.6403 4.77876 11.5599L8.36276 8.78988C8.52509 8.65611 8.63374 8.46829 8.66876 8.26087C8.71186 8.04551 8.68778 7.8221 8.59976 7.62087C8.47976 7.35087 8.25176 7.18388 8.00776 7.18388ZM0.840757 4.54988C0.969497 4.54847 1.09408 4.50413 1.19476 4.42387L4.42476 1.92787L7.65276 4.42287C7.75976 4.50588 7.88276 4.54887 8.00776 4.54887C8.25176 4.54887 8.47876 4.38188 8.59976 4.11188C8.68824 3.91079 8.71268 3.68734 8.66976 3.47187C8.63448 3.26432 8.52546 3.07648 8.36276 2.94288L4.77976 0.172875C4.67878 0.0924792 4.55383 0.048131 4.42476 0.046875C4.29567 0.0480543 4.1707 0.092411 4.06976 0.172875L0.485757 2.94388C0.322774 3.07767 0.213724 3.26593 0.178757 3.47388C0.135757 3.69088 0.160757 3.91887 0.248757 4.11387C0.368757 4.38387 0.595757 4.54988 0.840757 4.54988Z"
                            fill="black" />
                      </svg>
                    </button>

                    <div class="filters__button-variants">
                      <button data-filter="newest" data-selected-text="Newest first" class="button">
                        {{ 'general.rating.newest' | t }}
                      </button>
                      <button data-filter="featured" data-selected-text="Featured first" class="button">
                        {{ 'general.rating.featured' | t }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="filters"></div>

              <ul data-reviews-per-page="{{ block.settings.reviews_per_page }}" class="reviews__list">
                {% for product in collections.all.products %}
                  {% for review in product.metafields.custom.reviews.value %}
                    {% assign review_index = forloop.index | minus: 1 %}

                    {% assign review_author = review.author %}
                    {% assign review_date = review.date %}
                    {% assign review_title = review.title %}
                    {% assign review_rating = review.rating %}
                    {% assign review_text = review.text %}
                    {% assign review_image = review.product_image %}
                    {% assign review_country = review.country %}

                    <li data-rating="{{ review_rating }}" class="review__card">
                      <div class="reviews__product">
                        <a href="{{ product.url }}" class="reviews__link">
                          {% if review_image != blank %}
                            {{ review_image | image_url: width: review_image.width | image_tag }}
                          {% endif %}

                          <h5>{{ product.title }}</h5>
                        </a>
                      </div>
                      <div class="reviews__info">
                        <span class="author">
                          {{- review_author }}
                          <br>
                          {{ review_country -}}
                        </span>
                        <span class="date">{{ review_date | date: '%-d %B %Y' }}</span>

                        {% if review_rating != blank %}
                          {%- render 'rating', stars_number: review_rating, use_small_text: true -%}
                        {% endif %}

                        {% if review_title != blank %}
                          <h4>{{ review_title }}</h4>
                        {% endif %}

                        <p class="review__text">
                          {{ review_text }}
                        </p>
                        <div class="reviews__images">
                          {% for image in review.images.value %}
                            {{ image | image_url: width: image.width | image_tag: fetchpriority: fetch_priority }}
                          {% endfor %}
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                {% endfor %}
              </ul>

              <!-- Pagination -->
              <div class="reviews__pagination pagination">
                <ul class="pagination__list"></ul>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hear from our happy travelers"
    },
  ],
  "blocks": [
    {
      "type": "rating",
      "name": "Rating"
    },
    {
      "type": "reviews",
      "name": "Reviews",
      "settings": [
        {
          "type": "range",
          "min": 1,
          "max": 15,
          "id": "reviews_per_page",
          "label": "Reviews per page",
          "default": 5
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews",
      "blocks": [
        {
          "type": "rating"
        },
        {
          "type": "reviews"
        }
      ]
    }
  ]
}
{% endschema %}
