<div class="reviews__info" style="padding-top: {{ section.settings.padding_top }}px;">
  <h2 class="reviews__title">{{ section.settings.title }}</h2>
  <p class="reviews__rating-text">{{ section.settings.subtitle }}</p>
  <div class="reviews__rating">
    <span class="reviews__stars">
      <svg width="128" height="24" viewBox="0 0 128 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.8497 10.9088C22.5013 10.466 22.1878 9.44721 21.4 9.44721H15.3912C15.0484 9.44721 14.7438 9.22888 14.6336 8.90432L12.7576 3.37664C12.5119 2.65279 11.4881 2.65278 11.2424 3.37664L9.36639 8.90432C9.25624 9.22888 8.95158 9.44721 8.60884 9.44721H2.59848C1.8108 9.44721 1.49725 10.4657 2.14853 10.9087L7.00147 14.2097C7.30164 14.4139 7.42669 14.7946 7.30607 15.137L5.40792 20.525C5.15002 21.257 5.98093 21.8906 6.61858 21.448L11.5439 18.0299C11.8182 17.8395 12.1818 17.8395 12.4561 18.0299L17.3794 21.4466C18.0173 21.8893 18.8483 21.2553 18.5899 20.5231L16.6891 15.1375C16.5682 14.7949 16.6933 14.4138 16.9938 14.2096L21.8497 10.9088Z" fill="#FAC12F"/>
        <path d="M47.8497 10.9088C48.5013 10.466 48.1878 9.44721 47.4 9.44721H41.3912C41.0484 9.44721 40.7438 9.22888 40.6336 8.90432L38.7576 3.37664C38.5119 2.65279 37.4881 2.65278 37.2424 3.37664L35.3664 8.90432C35.2562 9.22888 34.9516 9.44721 34.6088 9.44721H28.5985C27.8108 9.44721 27.4972 10.4657 28.1485 10.9087L33.0015 14.2097C33.3016 14.4139 33.4267 14.7946 33.3061 15.137L31.4079 20.525C31.15 21.257 31.9809 21.8906 32.6186 21.448L37.5439 18.0299C37.8182 17.8395 38.1818 17.8395 38.4561 18.0299L43.3794 21.4466C44.0173 21.8893 44.8483 21.2553 44.5899 20.5231L42.6891 15.1375C42.5682 14.7949 42.6933 14.4138 42.9938 14.2096L47.8497 10.9088Z" fill="#FAC12F"/>
        <path d="M73.8497 10.9088C74.5013 10.466 74.1878 9.44721 73.4 9.44721H67.3912C67.0484 9.44721 66.7438 9.22888 66.6336 8.90432L64.7576 3.37664C64.5119 2.65279 63.4881 2.65278 63.2424 3.37664L61.3664 8.90432C61.2562 9.22888 60.9516 9.44721 60.6088 9.44721H54.5985C53.8108 9.44721 53.4972 10.4657 54.1485 10.9087L59.0015 14.2097C59.3016 14.4139 59.4267 14.7946 59.3061 15.137L57.4079 20.525C57.15 21.257 57.9809 21.8906 58.6186 21.448L63.5439 18.0299C63.8182 17.8395 64.1818 17.8395 64.4561 18.0299L69.3794 21.4466C70.0173 21.8893 70.8483 21.2553 70.5899 20.5231L68.6891 15.1375C68.5682 14.7949 68.6933 14.4138 68.9938 14.2096L73.8497 10.9088Z" fill="#FAC12F"/>
        <path d="M99.8497 10.9088C100.501 10.466 100.188 9.44721 99.4 9.44721H93.3912C93.0484 9.44721 92.7438 9.22888 92.6336 8.90432L90.7576 3.37664C90.5119 2.65279 89.4881 2.65278 89.2424 3.37664L87.3664 8.90432C87.2562 9.22888 86.9516 9.44721 86.6088 9.44721H80.5985C79.8108 9.44721 79.4972 10.4657 80.1485 10.9087L85.0015 14.2097C85.3016 14.4139 85.4267 14.7946 85.3061 15.137L83.4079 20.525C83.15 21.257 83.9809 21.8906 84.6186 21.448L89.5439 18.0299C89.8182 17.8395 90.1818 17.8395 90.4561 18.0299L95.3794 21.4466C96.0173 21.8893 96.8483 21.2553 96.5899 20.5231L94.6891 15.1375C94.5682 14.7949 94.6933 14.4138 94.9938 14.2096L99.8497 10.9088Z" fill="#FAC12F"/>
        <path d="M125.85 10.9088C126.501 10.466 126.188 9.44721 125.4 9.44721H119.391C119.048 9.44721 118.744 9.22888 118.634 8.90432L116.758 3.37664C116.512 2.65279 115.488 2.65278 115.242 3.37664L113.366 8.90432C113.256 9.22888 112.952 9.44721 112.609 9.44721H106.598C105.811 9.44721 105.497 10.4657 106.149 10.9087L111.001 14.2097C111.302 14.4139 111.427 14.7946 111.306 15.137L109.408 20.525C109.15 21.257 109.981 21.8906 110.619 21.448L115.544 18.0299C115.818 17.8395 116.182 17.8395 116.456 18.0299L121.379 21.4466C122.017 21.8893 122.848 21.2553 122.59 20.5231L120.689 15.1375C120.568 14.7949 120.693 14.4138 120.994 14.2096L125.85 10.9088Z" fill="#FAC12F"/>
      </svg>
    </span>
    <span class="reviews__score">{{ section.settings.rating }}</span>
    <span class="reviews__powered"
      >Powered by
      <span class="reviews__loox">
        <svg width="72" height="21" viewBox="0 0 72 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_1634_1510" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="72" height="21">
          <path d="M72 0H0V21H72V0Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_1634_1510)">
          <mask id="mask1_1634_1510" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-1" y="-1" width="74" height="23">
          <path d="M-0.923828 -0.152344H72.9223V21.152H-0.923828V-0.152344Z" fill="white"/>
          </mask>
          <g mask="url(#mask1_1634_1510)">
          <path d="M72.0328 20.5119L65.7989 10.6511L72.0604 0.759766H68.3681L64.1004 7.9515L59.5712 0.759766H55.8789L62.1097 10.6511L55.8789 20.5119H59.5712L63.8112 13.3506L68.3404 20.5119H72.0328Z" fill="black"/>
          <path d="M0.460938 0.759766V20.5119H13.2609L11.744 17.5902H3.75017V0.759766H0.460938Z" fill="black"/>
          <path d="M29.7692 18.0794C29.7569 18.0885 29.7476 18.0976 29.7353 18.1098C29.7446 18.1007 29.7538 18.0916 29.7692 18.0794ZM45.1169 20.9342C47.9907 20.9342 50.4123 19.9816 52.3846 18.0794C54.3569 16.1742 55.3415 13.7576 55.3415 10.8329C55.3415 7.90504 54.3569 5.48852 52.3846 3.58634C50.4123 1.68112 47.9907 0.728516 45.1169 0.728516C42.2399 0.728516 39.8122 1.68112 37.8307 3.5833C37.3322 4.06417 35.2861 6.83069 35.2861 6.83069L37.1876 9.21373L40.1015 5.68025V5.69852C40.1199 5.68025 40.1353 5.66199 40.1538 5.64373C41.4338 4.33808 43.083 3.68373 45.1015 3.68373C47.1199 3.68373 48.7692 4.33808 50.0492 5.64373C51.3261 6.95243 51.9661 8.68113 51.9661 10.8329C51.9661 12.9816 51.3261 14.7163 50.0492 16.0311C48.7692 17.349 47.1199 17.9972 45.1015 18.0063C41.9815 18.0246 40.1446 16.095 40.1446 16.095L31.0122 5.04112C30.6553 4.52678 30.2399 4.03982 29.7692 3.58634C27.7969 1.68112 25.3753 0.728516 22.5015 0.728516C19.6246 0.728516 17.1969 1.68112 15.2153 3.58634C13.2369 5.48852 12.2461 7.90504 12.2461 10.8329C12.2461 13.7576 13.2369 16.1742 15.2153 18.0794C17.1969 19.9816 19.6246 20.9342 22.5015 20.9342C25.3599 20.9342 27.7692 19.9907 29.7353 18.1098C29.5107 18.3137 32.6399 15.042 32.6399 15.042L30.4615 12.4824C30.4615 12.4824 27.7753 18.0063 22.4861 18.0063C20.4676 18.0063 18.8184 17.349 17.5384 16.0311C16.2584 14.7163 15.6184 12.9816 15.6184 10.8329C15.6184 8.68113 16.2584 6.95243 17.5384 5.64373C18.8184 4.33808 20.4676 3.68373 22.4861 3.68373C24.5046 3.68373 26.1538 4.33808 27.4307 5.64373C27.4738 5.68634 27.5107 5.72895 27.5476 5.76852V5.70765L30.0799 8.59895L36.6984 16.7859C37.1876 17.4494 37.6276 17.8816 37.8307 18.0794C39.8122 19.9816 42.2399 20.9342 45.1169 20.9342Z" fill="black"/>
          </g>
          </g>
        </svg></span
    ></span>
  </div>
  <p class="reviews__count">{{ section.settings.bottom }}</p>
</div>

{% schema %}
{
  "name": "Reviews info",
  "settings": [
    {
        "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Customers reviews",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Average customer rating:",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "rating",
      "default": "4.8/5",
      "label": "Rating"
    },
    {
      "type": "inline_richtext",
      "id": "bottom",
      "label": "Bottom text",
      "default": "Įvertinimas paremtas <b>160 atsiliepimų.</b>"
    },
    {
        "type": "header",
      "content": "Paddings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "px"
    }
  ],
  "presets": [
    {
    "name": "Reviews info"
    }
  ]
}
{% endschema %}